body {
	background: #eaeaea;
}


body {
	font-family: 'Roboto', sans-serif;
}

/** Fonts **/
h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}


.btn {
	background: red;
	display: inline-block;
	padding: 0 15px;
	line-height: 1.8em;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.btn-fullWidth {
	display: block;
	width: 100%;
}

.header {
	margin-top: 1em;
	margin-bottom: 3em;
}


.header .nav {
	margin-top: 1em;
}

.header .nav-item {
	margin-left: 1em;
}

.header h1 {
	font-size: 1.6em;
	color: #329882;
}

.header h3 {
	font-size: 1em;

}

.questions {
	background: #fff;
}


.questionSingle {
	border-bottom: 1px solid #cacaca;
}

.questionSingle-inner {
	padding: 20px;
}

.questionSingle-footer {
	border-top: 1px solid #f4f4f4;
	padding-top: 20px;
}