body {
	background: #eaeaea;
}


p {
	color: #555656;
	font-weight: 300;
}

/** Fonts **/
h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}


/** Overrides **/

.btn {
	border-radius: 0;
	cursor: pointer;
}

.btn-subscribe {
	background: #219653;
	color: #fff;
}

.btn-unsubscribe {
	background: #EB5757;
	color: #fff;
}

.btn-upvote {
	color: green;
}

.btn-downvote {
	color: red;
}

.pageTitle {
	margin: 1em 0;
	display: inline-block;
}

.boxed {
	background: #fff;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
	margin-bottom: 2em;
}

.lower {
	background: #fff;
}

.featureFrame {
	position: relative;
}

.featureFrame:before {
	content: "";
	position: absolute;
	width: 100%;
	top: 40px;
	bottom: 40px;
	left: 0;
	background: #3AC2C0;
	z-index: 0;
}

.featureFrame-inner {
	background: #fff;
	position: relative;
	z-index: 1;
}

header {
	margin-top: 2em;
	margin-bottom: 3em;
}

header .nav {
	margin-top: 1em;
}

header .nav-item {
	position: relative;
}

header .nav-item span {
	position: absolute;
	border-radius: 50%;
	background: red;
	color: #fff;
	top: -20px;
	right: -25px;
	display: block;
	width: 30px;
	line-height: 30px;
	text-align: center;
}

header .nav-item {
	margin-left: 1em;
}

header h1 {
	font-size: 1.6em;
	color: #329882;
}

header h3 {
	font-size: 1em;

}

.sidebar > .btn {
	margin-bottom: 1em;
}

.sidebar > ul {
	margin: 0;
	padding: 0;
}

.sidebar > ul li {
	list-style: none;
	margin: 0.5em 0;
}

.sidebar > h3 {
	margin: 1em 0;
}

/* Question Page */

.qa-single {
	border-bottom: 1px solid #f4f4f4;
}

.qa-single-question,
.qa-single-footer {
	padding: 20px;
}

.qa-single-title {
	padding: 20px 0 0 0;
}

.qa-single-title  h3 {
	border-left: 3px solid #ccc;
	padding: 15px 20px;
}

.qa-single-footer {
	border-top: 1px solid #f4f4f4;
}

.meta-info h4,
.meta-info h5 {
	font-size: 1em;
	color: #555656;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
}

/* Home Login and Register */

.leftPane {
	float:left;
	width: 50%;
	padding: 15px;
	background-image: url("../images/study_hall.jpeg");
	background-size: cover;
	height: 510px;
	display: flex;
    justify-content:center;
	align-content:center;
	flex-direction:column; 
}

.leftPane h2 {
	color: #fff;
}

.rightPane {
	float: left;
	width: 50%;
	padding: 15px;
}

@media (max-width: 768px)  {
	.leftPane,
	.rightPane {
		width: 100%;
		float: none;
	}
}


/* My Topics */

.topicSelect-single  {
	border: 1px solid #000;
	padding: 10px;
	margin-bottom: 30px;
}

.topicSelect-single h3 {
	text-align: center;
	margin: 15px 0;
}


/* Question Page */

.questionBanner {
	padding: 20px 0;
}

.questionBanner h2 {
	padding: 10px 20px;
	border-left: 4px solid purple;
}

.questionBanner-meta {
	border-top: 1px solid #f4f4f4;
	padding-top: 20px;
}

/* Profile Page */

.p-profile {
	padding: 20px 0;
}

.notifications-single {
	border: 1px solid #A8A8A8;
	margin-bottom: 20px;
}

.notifications-single p {
	margin: 0;
}

.notifications-single-date {
	float: left;
	width: 20%;
	background: #A8A8A8;
	padding: 15px;
}

.notifications-single-date p {
	color: #fff;
}

.notifications-single-message {
	float: left;
	width: 80%;
	padding: 15px;
}