<header>

    <div class="container">

        <div class="row">
    
            <div class="col-sm-12 col-md-4">

                <h1>Student Exchange</h1>
                <h3 class="">Where Students Help Students</h3>

            </div>

            <div class="col-sm-12 col-md-8 clearfix">

                <ul class="nav float-right">
                    <li><a class="nav-item" href="index">Home</a></li>
                    <li><a class="nav-item" href="topic-overview">Topics</a></li>
                    <li><a class="nav-item" href="question-ask">Ask a Question</a></li>
                    <li><a class="nav-item" href="profile">My Profile <span>3</span></a></li>
                </ul>

            </div>

        </div>

    </div><!-- container -->

</header>